<div class="whui-fluid">
	<div class="layui-row whui-form">
		<form class="layui-form" lay-filter="pubcode01-add-form">
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">项目代码</label>
					<div class="layui-input-block">
						<input id="tbpubcodeId" type="hidden" name="tbpubcodeId" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" >
						<input id="configCode01" type="text" name="configCode01" lay-verify="required" autocomplete="off" placeholder="" class="layui-input layui-disabled" >
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">顺序号</label>
					<div class="layui-input-block">
						<input id="seq" type="text" name="seq" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">描述0</label>
					<div class="layui-input-block">
						<input id="desc" type="text" name="desc" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">描述1</label>
					<div class="layui-input-block">
						<input id="desc1" type="text" name="desc1"  autocomplete="off" placeholder="" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">描述2</label>
					<div class="layui-input-block">
						<input id="desc2" type="text" name="desc2"  autocomplete="off" placeholder="" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">描述3</label>
					<div class="layui-input-block">
						<input id="desc3" type="text" name="desc3"  autocomplete="off" placeholder="" class="layui-input">
					</div>
				</div>
			</div>
			<button class="layui-btn layui-hide" lay-submit lay-filter="pubcode01-add-submit"></button>
		</form>
	</div>
</div>
<script src="../../../lib/comm/js/comm.js?page=pubcode01-add" type="text/javascript" charset="utf-8"></script>