<div id="webuser-index">
    <title>用户管理</title>
    <div class="whui-fluid">
        <div class="layui-row whui-form">
            <div class="layui-col-md12">
                <form class="layui-form" lay-filter="webuser-query-form">
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="layui-form-item">
                                <label class="layui-form-label">公司名称</label>
                                <div class="layui-input-block">
                                    <select id="companyName"  name="companyName" lay-filter="company-change"  autocomplete="off" placeholder="请选择公司" class="layui-select">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="layui-form-item">
                                <label class="layui-form-label">所属部门</label>
                                <div class="layui-input-block">
                                    <select type="text" id="deptName"  name="deptName" lay-verify="title" autocomplete="off"  class="layui-select">
                                    </select>
                                </div>
                            </div>
                        </div>
                         <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="layui-form-item">
                                <label class="layui-form-label">姓名</label>
                                <div class="layui-input-block">
                                    <input type="text" id="name"  name="name" lay-verify="title" autocomplete="off"  class="layui-input">
                                </div>
                            </div>
                        </div>
                         <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="layui-form-item">
                                <label class="layui-form-label">手机号码</label>
                                <div class="layui-input-block">
                                    <input type="text" id="phone"  name="phone" lay-verify="title" autocomplete="off"  class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="layui-btn layui-hide" lay-submit lay-filter="webuser-query-btn"></button>
                </form>
            </div>
        </div>
        <div class="layui-row whui-btnbar">
            <div class="layui-col-md12">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm8 layui-col-md9">
                        <div class="layui-btn-container">
                            <div class="layui-btn-group">
                                <button class="layui-btn whui-btn-add"><i class="fa fa-plus"></i>新增</button>
                                <button class="layui-btn whui-btn-update"><i class="fa fa-pencil"></i>修改</button>
                                <button class="layui-btn whui-btn-delete"><i class="fa fa-trash-alt"></i>删除</button>
                                <button class="layui-btn whui-btn-roleassign"><i class="fa fa-user-secret"></i>角色分配</button>
                                <button class="layui-btn whui-btn-resetpass"><i class="fa fa-pencil"></i>重置密码</button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm4 layui-col-md3" style="text-align: center;">
                        <div class="layui-btn-container">
                            <div class="layui-btn-group">
                                <button class="layui-btn whui-btn-query"><i class="fa fa-search"></i>查询</button>
                                <button class="layui-btn whui-btn-reset"><i class="fa fa-eraser"></i>重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table class="layui-hide" id="webuser-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../lib/comm/js/comm.js?page=webuser-index" type="text/javascript" charset="utf-8"></script>
<script src="../../webuser/webuser-index/webuser-index.js" type="text/javascript" charset="utf-8"></script>