<div id="webuser-add">
	<div class="whui-fluid">
		<div class="layui-row whui-form">
			<form class="layui-form">
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">手机号<span style="color: red;">*</span></label>
						<div class="layui-input-block">
							<input id="phone" name="phone" lay-verify="required" autocomplete="off" placeholder="请输入手机号" class="layui-input" >
						</div>
					</div>
				</div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">姓名<span style="color: red;">*</span></label>
						<div class="layui-input-block">
							<input type="text" id="name" name="name" lay-verify="required" autocomplete="off" placeholder="请输入姓名" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">用户类型<span style="color: red;">*</span></label>
						<div class="layui-input-block">
							<select id="managerType" name="managerType" lay-verify="required">
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">性别<span style="color: red;">*</span></label>
						<div class="layui-input-block">
							<select id="sex" name="sex" lay-verify="required">
								<option value='0'>女</option>
								<option value='1'>男</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">公司名称<span style="color: red;">*</span></label>
						<div class="layui-input-block">
							<select id="companyName" name="companyCode" lay-verify="required" lay-filter="companyadd-change">
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">部门<span style="color: red;">*</span></label>
						<div class="layui-input-block">
							<select id="deptName" name="departmentId" lay-verify="required">
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">职位<span style="color: red;">*</span></label>
						<div class="layui-input-block">
							<select id="positionId" name="positionId" lay-verify="required">
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">工号</label>
						<div class="layui-input-block">
							<input type="text" id="account" name="account" lay-verify="required" autocomplete="off" value="工号即为手机号" disabled="disabled" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">邮箱</label>
						<div class="layui-input-block">
							<input type="text" id="mail" name="mail" autocomplete="off" placeholder="请输入邮箱" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">身份证号</label>
						<div class="layui-input-block">
							<input type="text" id="idCard" name="idCard" autocomplete="off" placeholder="请输入身份证号" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">名族</label>
						<div class="layui-input-block">
							<input type="text" id="race" name="race" autocomplete="off" placeholder="请输入民称" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
					<div class="layui-form-item">
						<label class="layui-form-label">居住地址</label>
						<div class="layui-input-block">
							<input type="text" id="address" name="address" autocomplete="off" placeholder="请输入居住地址" class="layui-input">
						</div>
					</div>
				</div>
				<button class="layui-btn layui-hide" lay-submit lay-filter="webuser-add-submit"></button>
			</form>
		</div>
	</div>
</div>
<script src="../../../lib/comm/js/comm.js?page=webuser-add" type="text/javascript" charset="utf-8"></script>