<link rel="stylesheet" type="text/css" href="../../../plugins/modules/ztree/css/zTreeStyle/zTreeStyle.min.css" />
<div id="location-tree">
	<title>省市区字典</title>
	<div class="whui-fluid">
		<div class="layui-row layui-col-space10">
			<div class="layui-col-xs12 layui-col-sm4 layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-body">
						<ul id="tree" class="ztree"></ul>
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm8 layui-col-md9">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-md12">
						<div class="layui-card">
							<div class="layui-card-body">
								<table class="layui-hide" id="location-tree-table"></table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../../location/location-index/location-index.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="../../../plugins/modules/ztree/js/jquery.ztree.all.min.js"></script>