<div class="whui-fluid">
	<div class="layui-row whui-form">
		<form class="layui-form" lay-filter="menu-add-form">
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">菜单名称</label>
					<div class="layui-input-block">
						<input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入菜单名" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">请求地址</label>
					<div class="layui-input-block">
						<input type="text" name="url" lay-verify="required" autocomplete="off" placeholder="请输入请求地址" class="layui-input">
					</div>
				</div>
			</div>

			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">菜单编号</label>
					<div class="layui-input-block">
						<input type="text" name="num" lay-verify="required" autocomplete="off" placeholder="请输入菜单编号" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">是否是菜单</label>
					<div class="layui-input-block">
						<select name="ismenu" id="menu-add-select">

						</select>
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">父级菜单</label>
					<div class="layui-input-block">
						<input id="menu-add-pMenu" type="text" name="pmenu" placeholder="请选择父级菜单" class="layui-input" lay-filter="menu-add-tree-div">
						<input type="text" name="pcode" style="display: none;">
						<div id="pMenu" style="display: none; position: absolute; z-index: 200;background-color: #ffffff;border:1px solid black;">
							<ul id="menu-add-tree" class="ztree" style="width:150px !important;"></ul>
						</div>
					</div>
				</div>
			</div>
			<button class="layui-btn layui-hide" lay-submit lay-filter="menu-add-submit"></button>
		</form>
	</div>
</div>
<script src="../../../lib/comm/js/comm.js?page=menu-add" type="text/javascript" charset="utf-8"></script>
