<div class="whui-fluid">
	<div class="layui-row whui-form">
		<form class="layui-form">
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">单行框</label>
					<div class="layui-input-block">
						<input type="text" name="title1" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">这里五个字</label>
					<div class="layui-input-block">
						<input type="text" name="title2" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">下拉框</label>
					<div class="layui-input-block">
						<select name="city" lay-verify="required">
							<option value=""></option>
							<option value="0">北京</option>
							<option value="1">上海</option>
							<option value="2">广州</option>
							<option value="3">深圳</option>
							<option value="4">杭州</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">单行框</label>
					<div class="layui-input-block">
						<input type="text" name="title4" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">单行框</label>
					<div class="layui-input-block">
						<input type="text" name="title5" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">单行框</label>
					<div class="layui-input-block">
						<input type="text" name="title6" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
				<div class="layui-form-item">
					<label class="layui-form-label">单行框</label>
					<div class="layui-input-block">
						<input type="text" name="title7" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
					</div>
				</div>
			</div>
			<button class="layui-btn layui-hide" lay-submit lay-filter="demo-add-submit"></button>
		</form>
	</div>
</div>
<script src="../../demo/demo-add/demo-add.js" type="text/javascript" charset="utf-8"></script>