<link rel="stylesheet" type="text/css" href="../../../plugins/modules/ztree/css/zTreeStyle/zTreeStyle.min.css" />
<div id="role-assign">
	<title>角色分配</title>
	<div class="whui-fluid">
		<div class="layui-row layui-col-space10">
			<div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-body">
						<ul id="tree" class="ztree"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../../../lib/comm/js/comm.js?page=role-assign" type="text/javascript" charset="utf-8"></script>
