<div id="loginLog-index">
    <title>登录日志</title>
    <div class="whui-fluid">
        <div class="layui-row whui-form">
            <div class="layui-col-md12">
                <form class="layui-form" lay-filter="loginLog-query-form">
                    <div class="layui-row">
                    	 <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="layui-form-item">
                                <label class="layui-form-label">日志名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="logName" lay-verify="title" autocomplete="off" placeholder="请输入日志名称" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="userName" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
                            <div class="layui-form-item">
                                <label class="layui-form-label">选择时间范围</label>
                                <div class="layui-input-block">
                                    <input  type="text" id="beginTime" name="beginTime" lay-verify="title" autocomplete="off" placeholder="请选择时间范围" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="layui-btn layui-hide" lay-submit lay-filter="loginLog-query-btn"></button>
                </form>
            </div>
        </div>
        <div class="layui-row whui-btnbar">
            <div class="layui-col-md12">
                <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm8 layui-col-md9">
                        <div class="layui-btn-container">
                            <div class="layui-btn-group">
                           <!--         <button class="layui-btn whui-btn-add"><i class="fa fa-plus"></i>新增</button>
                                <button class="layui-btn whui-btn-update"><i class="fa fa-pencil"></i>修改</button>-->
                                <button class="layui-btn whui-btn-delete"><i class="fa fa-trash-alt"></i>删除日志</button>
                               
                           <!--     <button class="layui-btn whui-btn-upload"><i class="fa fa-upload"></i>上传</button>
                                <button class="layui-btn whui-btn-download"><i class="fa fa-download"></i>下载</button>
                                <button class="layui-btn whui-btn-print"><i class="fa fa-print"></i>打印</button>
                                <button class="layui-btn whui-btn-print"><i class="fa fa-folder-open"></i>打开</button>
                                <button class="layui-btn"><i class="fa fa-cog"></i>操作</button>-->
                            </div>
                        </div>
                    </div>
                  <div class="layui-col-xs12 layui-col-sm4 layui-col-md3">
                        <div class="layui-btn-container">
                            <div class="layui-btn-group">
                                <button class="layui-btn whui-btn-query"><i class="fa fa-search"></i>查询</button>
                                <button class="layui-btn whui-btn-reset"><i class="fa fa-eraser"></i>重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table class="layui-hide" id="loginLog-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../lib/comm/js/comm.js?page=loginLog-index" type="text/javascript" charset="utf-8"></script>
<script src="../../loginLog/loginLog-index/loginLog-index.js" type="text/javascript" charset="utf-8"></script>